{% extends 'layout.html' %}

{% block content %}
  <h1>Home Page</h1>
  <hr>
  {% if current_user.is_authenticated %}
    <h4>Hello, {{ current_user.name }}</h4>
  {% else %}
    <h4> Hello. Who are you?</h4>
  {% endif %}


  <form class="form-inline" action="{{ url_for('home') }}" method="POST">
    <div class="form-group">
      <input type="text" name="post_body" class="form-control" placeholder="Type your status here">
    </div>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>


  <ul class="list-group">
    {% for post in posts %}
      <a href="/post/{{ post.id }}">
        <li class="list-group-item">
          <div>{{ post.body }}</div>
          <small>{{ post.created_on.strftime('%a, %B %d, %Y @ %I:%M %p') }}</small>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}